extends layout

block content
 nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') LewdBox
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') New Posts
      li.nav-item
        a.nav-link(href='/upload') Upload
 #mylightbox This div will be opened in a lightbox
 .container
      .row
        .col.s12
         h4 Image Uploads
      if photolist.length
         | <div class="row">
         each pic, index in photolist
          |<div class ="col s3"><a href=" http://lewdbox.cf/#{pic['path']} " data-featherlight="image"  ><img src = #{pic['path']} alt="image" class="responsive-img" /><p class="center-align caption">Uploaded By: #{pic['caption']}</p></a></div> 
          if (((index+1) % 6) == 0 )
           | </div><div class="row">
      else
       .row
          .col.s12
            .caption No photos uploaded yet.
 script(src='javascripts/particles.js')
 script(src='javascripts/app.js')
