doctype html
html
  title LewdBox: OwO, Whats this?
  meta(name='description', content='Free Roblox Hacks(NOT CLICK BAIT)')
  script(src='https://npmcdn.com/js-alert/dist/jsalert.min.js')
  link(rel='stylesheet', type='text/css', href='stylesheets/theme.css')
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(href='//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css', type='text/css', rel='stylesheet')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='stylesheets/materialize.css')
  script(src='javascripts/fps.js')
  script(src='javascripts/particles.js')
  script(src='javascripts/app.js')
  script(src='javascripts/loginsys.js')
  script(src='javascripts/dropzone.js')
  script(src='//code.jquery.com/jquery-latest.js')
  script(src='//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js', type='text/javascript', charset='utf-8')

  body
    block content
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')

    script(type='text/javascript').
        JSAlert.loader("Loading Please wait...").dismissIn(500);
    script(type='text/javascript').
        JSAlert.alert("Website is still in dev.");
